<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
<servlet>
		<servlet-name>Eventbird</servlet-name>
		<servlet-class>com.bushytails.eventbird.server.Watcher</servlet-class>
		<init-param>
<!-- Attention!! you must replace twitter id before deploy. -->
			<param-name>id</param-name>
			<param-value>eventowl</param-value>
	    </init-param>
		<init-param>
			<param-name>pass</param-name>
<!-- Attention!! you must replace twitter password before deploy. -->
			<param-value>BDnSi8zDU7pZ</param-value>
	    </init-param>
		<init-param>
			<param-name>event.parallel.count</param-name>
			<param-value>2</param-value>
	    </init-param>
		<init-param>
			<param-name>paging.count</param-name>
			<param-value>20</param-value>
	    </init-param>
		<init-param>
			<param-name>request.code.event</param-name>
			<param-value>event://</param-value>
	    </init-param>
		<init-param>
			<param-name>request.code.entry</param-name>
			<param-value>entry://</param-value>
	    </init-param>
		<init-param>
			<param-name>countdown.event</param-name>
			<param-value>1,3,7</param-value>
	    </init-param>
		<init-param>
			<param-name>countdown.member</param-name>
			<param-value>5,10,30,50</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Eventbird</servlet-name>
		<url-pattern>/eventbird</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>filerackServlet</servlet-name>
    <servlet-class>com.bushytails.eventbird.server.FileRackServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filerackServlet</servlet-name>
    <url-pattern>/roost/filerack</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Roost.html</welcome-file>
  </welcome-file-list>

</web-app>
